fastapi
uvicorn
pydantic
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
scikit-learn
pandas
numpy
joblib
python-dotenv
python-multipart
emails
apscheduler
google-generativeai
pytz
cors
